# Provider binaries - downloaded by terraform init
**/.terraform/

# Lock file
**/.terraform.lock.hcl

# State files - NEVER commit these
**/terraform.tfstate
**/terraform.tfstate.backup

# Variable files - may contain secrets
#**/*.tfvars

# Crash logs
**/crash.log

# Override files
**/override.tf
**/override.tf.json
**/*_override.tf
**/*_override.tf.json